.Pokedex{
    margin-top: 50px;
}

.Pokedex-pokemons{
    display:flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: center;
}

.Pokedex-totalExp{
    text-align: center;
}

.Pokedex-msg{
    width: 100%;
    text-align: center;
}
.msg-green{
    color:green;
}

.msg-red{
    color:red;
}

.msg-gray{
    color:gray;
}